<a href="https://colab.research.google.com/github/PoojaTN123/CRUD/blob/main/Basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: create .txt file in colab

with open('my_file.txt', 'w') as f:
  f.write('This is my file content.')
!cat my_file.txt

In [ ]:
# prompt: Project Overview: Create a simple calculator that can perform basic arithmetic operations such as addition, subtraction, multiplication, and division. Each operation will be implemented as a separate function, and the user can choose which operation to perform.
# add(a, b) for addition
# subtract(a, b) for subtraction
# multiply(a, b) for multiplication
# divide(a, b) for division

def add(a, b):
  return a + b

def subtract(a, b):
  return a - b

def multiply(a, b):
  return a * b

def divide(a, b):
  if b == 0:
    return "Division by zero error!"
  return a / b

In [1]:
# prompt: python dictionary data

my_dict = {
    'name': 'John Doe',
    'age': 30,
    'occupation': 'Software Engineer',
    'city': 'New York'
}

print(my_dict)
print(my_dict['name']) # Accessing a value by its key

# Modifying a value
my_dict['age'] = 31
print(my_dict)

# Adding a new key-value pair
my_dict['country'] = 'USA'
print(my_dict)

# Removing a key-value pair
del my_dict['city']
print(my_dict)


# Iterating through the dictionary
for key, value in my_dict.items():
  print(f"{key}: {value}")

# Checking if a key exists
if 'name' in my_dict:
    print("Name key exists")

# Getting the value associated with a key, or a default value if the key doesn't exist
occupation = my_dict.get('occupation', 'Unknown')
print(occupation)

# Getting all keys and values
keys = my_dict.keys()
values = my_dict.values()
print(keys)
print(values)


# Nested Dictionaries

nested_dict = {
    'person1': {
        'name': 'Alice',
        'age': 25
    },
    'person2': {
        'name': 'Bob',
        'age': 35
    }
}

print(nested_dict)
print(nested_dict['person1']['name'])

{'name': 'John Doe', 'age': 30, 'occupation': 'Software Engineer', 'city': 'New York'}
John Doe
{'name': 'John Doe', 'age': 31, 'occupation': 'Software Engineer', 'city': 'New York'}
{'name': 'John Doe', 'age': 31, 'occupation': 'Software Engineer', 'city': 'New York', 'country': 'USA'}
{'name': 'John Doe', 'age': 31, 'occupation': 'Software Engineer', 'country': 'USA'}
name: John Doe
age: 31
occupation: Software Engineer
country: USA
Name key exists
Software Engineer
dict_keys(['name', 'age', 'occupation', 'country'])
dict_values(['John Doe', 31, 'Software Engineer', 'USA'])
{'person1': {'name': 'Alice', 'age': 25}, 'person2': {'name': 'Bob', 'age': 35}}
Alice

# New section

In [7]:
fruits = {'apple': 1, 'banana': 2, 'orange': 3}
fruits.update({'banana': 4, 'pear': 5})
print(fruits)

{'apple': 1, 'banana': 4, 'orange': 3, 'pear': 5}

# New section